
body{
  background-color: #2C2C2C;
}

 /* Navbar */
nav{
  display: flex;
  justify-content: space-between;
}
.nav-links ul {
  display: flex;
  list-style: none;
  gap:1rem;
  padding-right:3rem;
}
.link {
  color: white;
  text-decoration: none;
}

/* Home */
.content{
  display: flex;
}
.left{
  margin-left:4em ;
}
.left h1{
  color: white;
  font-size: 2rem;
}
.left p {
  color: white;
  font-size: 1rem;
}

form label{
  color: white;
  margin: 10px;
}
input{
  background-color: grey;
  border-radius: 10px;
  height: 2rem;
  width: 15rem;
}
input::placeholder{
  color: white;
  padding-left: 10px;
 
}
button{
  height:2rem;
  width: 5rem;
  border-radius: 10px;
}

.right img{
  width: 35rem;
}